@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

i {
    font-size: 20px;
    width: 20px;
    color: var(--primary);
}

.text-sm {
  font-size: 12px;
}

.container-fluid {
    margin-top: 10px;
}

.card {
    border-radius: 0 !important;
    border: none !important;
    padding-top: 20px;
}

.foto-profile {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover;
    object-position: top;
    border: 5px solid var(--primary);
    border-radius: 100% !important;
}

.info {
    margin-top: 20px;
}

.group-info {
    margin-top: 10px;
    display: flex;
}

.group-info span a {
    text-decoration: none;
    color: black;
}

.group-info span a:hover {
    color: var(--primary);
}

.txt-info {
    font-size: 12px;
}

.card-title {
    text-decoration: underline;
}

.box-education,
.box-skill {
    position: relative;
    border-top: 1px solid var(--primary);
}

.box-education::before {
    content: 'Education';
    position: absolute;
    top: -15px;
    padding: 0 10px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: white;
}

.box-skill::before {
    content: 'Skills';
    position: absolute;
    top: -15px;
    padding: 0 10px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: white;
}

.box-lst {
    list-style: circle;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.box-lst li {
    margin-top: 10px;
    color: var(--primary);
    font-size: 12px;
}

.box-lst li span {
    color: black;
}

.box-lst li span a {
    text-decoration: none;
    color: black;
}

.box-lst li span a:hover {
    color: var(--primary);
}

.skill-lst {
    margin-top: 30px;
    padding: 0 10px;
}

.progress {
    background-color: transparent !important;
    overflow: visible !important;
}

.progress-bar.html,
.progress-bar.css,
.progress-bar.js,
.progress-bar.php,
.progress-bar.ms-office {
    position: relative !important;
    overflow: visible !important;
}

.progress-bar.html {
    background-color: var(--danger);
}

.progress-bar.css {
    background-color: var(--primary);
}

.progress-bar.js {
    background-color: var(--warning);
}

.progress-bar.php {
    background-color: var(--primary);
}

.progress-bar.ms-office {
    background-color: blueviolet;
}

.progress-bar.html i {
    position: absolute;
    right: -30px;
    color: var(--danger);
}

.progress-bar.css i {
    position: absolute;
    right: -30px;
    color: var(--primary);
}

.progress-bar.js i {
    position: absolute;
    right: -30px;
    color: var(--warning);
}
.progress-bar.php i {
    position: absolute;
    right: -30px;
    color: var(--primary);
}

.progress-bar.ms-office i {
    position: absolute;
    right: -30px;
    color: blueviolet;
}